#tasks {
   padding: 20px 15px 5px;
   display: flex;
   flex-direction: column;
}

#tasks .wrapper_list {
   background-color: #fafafa;
   border-radius: var(--globar-border-radius);
   height: calc(100vh - 100px);
   padding: 10px;
   box-shadow: 0 2px 5px #dbdbdb;
   flex: 2;
   margin-top: 15px;
}

#tasks .wrapper_list h2 {
   font-size: 1.2rem;
   margin: 0;
}

#tasks .wrapper_list .list_group {
   display: flex;
   flex-direction: row;
   gap: 5px 10px;
}

#tasks .wrapper_list .list_group .list {
   flex: 1;
   border-radius: var(--global-radius);
   padding: 10px;
   box-shadow: 0 2px 5px #dbdbdb;
   background-color: white;
}

#tasks .wrapper_list .list_group .list h4 {
   font-size: 1.2rem;
   margin: 0 0 5px;
}

#tasks .card {
   background-color: #fff;
   border: var(--global-border);
   border-radius: 12px;
   margin-bottom: 0.8rem;
   padding: 0.8rem 1.1rem 0.9rem;
   position: relative;
   transition: transform 0.2s ease-out;
}

#tasks .card .close {
   cursor: pointer;
   position: absolute;
   right: 12px;
   top: 10px;
   font-size: 18px;
}

#tasks .card h3 {
   font-size: 1rem;
   font-weight: 700;
   margin: 0 0 0.2rem;
}

#tasks .card h6,
#tasks .card h5 {
   color: #424242;
   font-size: 0.6rem;
   margin: 0 0 0.1rem;
}

#tasks .card button {
   border-radius: 4px;
   border-width: 1px;
   font-size: 0.6rem;
   font-weight: 700;
   margin: 0.35rem 0.2rem 0.15rem 0;
   padding: 0.075rem 0.3rem;
   background-color: var(--global-primary-color);
   border-color: var(--global-primary-color);
   color: white;
}

#tasks .card button.finished {
   background-color: #1ec876;
   border-color: #1ec876;
}

#tasks .card button.finished:hover {
   background-color: white;
   color: #1ec876;
}

#tasks .card button.low {
   background-color: #007bff;
   border-color: #007bff;
}

#tasks .card button.low:hover {
   background-color: white;
   color: #007bff;
}

#tasks .card button.medium,
#tasks .card button.progress {
   background-color: #fbde3f;
   border-color: #fbde3f;
   color: black;
}

#tasks .card button.medium:hover,
#tasks .card button.progress:hover {
   background-color: black;
   color: #fbde3f;
}

#tasks .card p {
   color: #424242;
   display: block;
   font-size: 0.8rem;
   margin: 0;
}

#tasks .filters {
   display: flex;
   flex-direction: column;
   margin: 5px 0 15px;
   gap: 5px;
}

#tasks .filters > * {
   flex: 1;
}

#tasks .filters select,
#tasks .filters input {
   border: 0.5px solid #e9e9e9;
   border-radius: 8px;
   color: #000;
   flex: 1 1;
   font-size: 0.9rem;
   font-weight: 400;
   margin-bottom: 0.2rem;
   outline: 0;
   padding: 0.745rem 0.745rem;
   position: relative;
   width: 100%;
   box-sizing: border-box;
}

#tasks .filters .search {
   position: relative;
}

#tasks .filters .search .clear {
   position: absolute;
   z-index: 1;
   top: 6px;
   right: 12px;
   font-size: 20px;
   color: var(--global-primary-color);
   cursor: pointer;
}

@media (min-width: 900px) {
   #tasks {
      flex-direction: row;
   }

   #tasks .filters {
      flex-direction: row;
      justify-content: flex-end;
   }

   #tasks .filters select {
      width: 300px;
   }

   #tasks .wrapper_list {
      margin-top: 0;
   }
}

@media (min-width: 1300px) {
   #tasks .wrapper_list {
      flex: 1;
   }
}
